body {
    font-family: Overpass, Arial, sans-serif;
    background-color: #006a4d;
    padding: 1em;
  }
  article {
   position: relative;
   max-width: 100em;
  }
  main {
    background: #e8e8e8;
    max-width: 68em;
    min-height: 75%;
    padding: 1.875em 3.25em;
    color:#333;
    line-height: 1.5;
  }
  h2 {
    background-color: #fff;
    border: thin grey outset;
    max-width:75%;
    padding-left:1em;margin:0;
    transform: rotate(-0.7deg);
  }
  
  @media(min-width:700px) {
    body:not(.dyslexia-mode) main {
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      background-image: url(https://res.cloudinary.com/jbowtie/image/upload/v1631662164/exclusive_paper_dyitgt.webp);
      width: 80%;
    }
    main:before, main:after {
      content: "";
      height: 98%;
      position: absolute;
      max-width: 75em;
      width: 95%;
      z-index: -1;
    }
    body:not(.dyslexia-mode) main:before {
      background: #fafafa;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);
      left: -5px;
      top: -4px;
      transform: rotate(-2.5deg);
    }
    body:not(.dyslexia-mode) main:after {
      background: #f6f6f6;
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
      left: -6px;
      top: 1px;
      transform: rotate(1.4deg);
    }
  }
  
  .dyslexia-mode {
      letter-spacing: 0.35ch;
      word-spacing: 1.225ch; /* 3.5x letter-spacing */
      font-variant-ligatures: none; /* explicitly disable ligatures */
      font-weight: 600; /* demi-bold */
      font-size: 150%; /* assuming 16px base size, convert to 18pt */
  }
  
  .dyslexia-mode main {
     line-height: 2.0;
  }
  
  .dyslexia-mode main p {
     margin-top: 3.5em;
  }
  
  .dyslexia-mode strong {
    color: #000;
  }
  
  .dyslexia-mode h2 {
    border: none; border-bottom: thin grey solid;  /* just keeping the bottom border for this element, to retain some separation */
    max-width: 100%; /* standard width */
    transform: none; /* do not rotate */
    background-color: inherit; /* We no longer look like a label, so we don't require our own background */
    margin-bottom: 1em; padding-left:0; /* some spacing adjustments */
  }
  .dyslexia-mode main li:nth-of-type(odd) {
      background-color: #006a4d;
  }
  #dyslexia-toggle {
    padding: 1em;
    font-size: 18pt;
    letter-spacing: 0.35ch;
    float:right;
  }
  
  .dyslexia-mode #dyslexia-toggle {
    background-color: #115c7d;
    color: #fff;
  }